In [ ]:
pip install gmaps

In [1]:
# Import the dependencies.
import pandas as pd
import json
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2022-01-04 00:46:24,-33.6500,115.3333,70.09,48,7,12.55
1,1,Thompson,CA,2022-01-04 00:41:53,55.7435,-97.8558,-25.44,75,20,8.05
2,2,Bosaso,SO,2022-01-04 00:46:24,11.2842,49.1816,74.86,75,2,6.31
3,3,Luwuk,ID,2022-01-04 00:46:24,-0.9516,122.7875,84.70,69,100,0.67
4,4,New Norfolk,AU,2022-01-04 00:46:25,-42.7826,147.0587,63.66,58,100,3.02
5,5,Castro,BR,2022-01-04 00:46:25,-24.7911,-50.0119,69.80,79,90,6.91
6,6,Cervo,ES,2022-01-04 00:46:26,43.6702,-7.4101,62.96,76,99,16.64
7,7,Jumla,NP,2022-01-04 00:46:27,29.2747,82.1838,32.36,54,0,5.53
8,8,Wajima,JP,2022-01-04 00:46:27,37.4000,136.9000,36.28,93,75,8.05
9,9,Touros,BR,2022-01-04 00:46:27,-5.1989,-35.4608,79.70,75,87,13.49

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = temps
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]

preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Luwuk,ID,2022-01-04 00:46:24,-0.9516,122.7875,84.70,69,100,0.67
9,9,Touros,BR,2022-01-04 00:46:27,-5.1989,-35.4608,79.70,75,87,13.49
14,14,Rikitea,PF,2022-01-04 00:46:29,-23.1203,-134.9692,78.03,67,100,5.53
16,16,Sabang,ID,2022-01-04 00:46:31,5.8933,95.3214,79.90,76,98,12.55
20,20,Puerto Narino,CO,2022-01-04 00:46:33,-3.7703,-70.3831,78.75,96,96,2.28

In [12]:
preferred_cities_df.count()

City_ID       158
City          158
Country       157
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3             Luwuk      ID     84.70  -0.9516  122.7875
9            Touros      BR     79.70  -5.1989  -35.4608
14          Rikitea      PF     78.03 -23.1203 -134.9692
16           Sabang      ID     79.90   5.8933   95.3214
20    Puerto Narino      CO     78.75  -3.7703  -70.3831
23     Port Hedland      AU     89.65 -20.3167  118.5667
24            Tabou      CI     78.35   4.4230   -7.3528
27    Pozo Colorado      PY     76.55 -23.4923  -58.7972
33  Bambous Virieux      MU     75.22 -20.3428   57.7575
34         Bengkulu      ID     76.78  -3.8004  102.2655

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3             Luwuk      ID     84.70  -0.9516  122.7875
9            Touros      BR     79.70  -5.1989  -35.4608
14          Rikitea      PF     78.03 -23.1203 -134.9692
16           Sabang      ID     79.90   5.8933   95.3214
20    Puerto Narino      CO     78.75  -3.7703  -70.3831
23     Port Hedland      AU     89.65 -20.3167  118.5667
24            Tabou      CI     78.35   4.4230   -7.3528
27    Pozo Colorado      PY     76.55 -23.4923  -58.7972
33  Bambous Virieux      MU     75.22 -20.3428   57.7575
34         Bengkulu      ID     76.78  -3.8004  102.2655

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
y

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Luwuk,ID,84.70,-0.9516,122.7875,Hotel Santika Luwuk
9,Touros,BR,79.70,-5.1989,-35.4608,INN NEW HORIZON
14,Rikitea,PF,78.03,-23.1203,-134.9692,People ThankYou
16,Sabang,ID,79.90,5.8933,95.3214,Hotel Citra
20,Puerto Narino,CO,78.75,-3.7703,-70.3831,Eware Refugio Amazonico

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))